@import url('variable.css');

*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

.header{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: absolute;
    width: 100%;
    align-items: center;
}

.div__logo{
    padding: 15px;
    gap: 20px;
}

.div__menu {
    padding: 15px;
    gap: 20px;
}

.ul__menu{
    padding: 15px;
    display: flex;
    gap: 100px;
    color: var(--color-1);
}

.ul__menu li {
    list-style: none;
    font-family: "Monserrat-SemiBold";
    color: var(--color-1);
}

.section__home {
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2)), var(--banner-1);
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    height: 140vh;
}

.article__home {
    position: relative;
    width: 626px;
    height: 360px;
    padding: 20px;
    left: 287px;
    top: 120px;
    display: flex;
    gap: 15px;
    flex-direction: column;
}


.article__home span {
    font-size: 28px;
    font-family: "Monserrat-SemiBold";
    color: var(--color-1);
}

.article__home h1 {
    font-size: 75px;
    font-family: "Monserrat-SemiBold";
    color: var(--color-1);
}

.article__home p {
    width: 340px;
    font-family: "Monserrat-Medium";
    color: var(--color-1);
}

.section__icon {
    background: #071917;
    display: flex;
    justify-content: space-evenly;
}






