<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../css/style-blog.css">
</head>
<body>
    <header class="header">
        <div class="div__logo">
            <img src="../storage/img/photo.png">
        </div>
        <div class="div__menu">
            <ul class="ul__menu">
                <li><a href="#_my_work">Work</a></li>
                <li><a href="#my_about">About</a></li>
                <li><a href="views/blog.html" target="_blank">Blog</a></li>
            </ul>
            
        </div>
        <div>
            <img src="../storage/img/chat.svg" alt="">
            <img src="../storage/img/perfil.svg" alt="">
        </div>
    </header>

    <main>
        <section class="menu2">
            <ul>
                <li>Latest Blog</li>
                <li>Urban Planning</li>
                <li>Graphics Design</li>
                <li>Web Design</li>
                <li>UX/UI Design</li>
                <li>Technology</li>
            </ul>
        </section>
        <section class="imgText">
            <img src="../storage/img/building.svg" alt="">
            <div class="onlyText">
                <h4>Urban Planning</h4>
                <h3>Lörem ipsum europlande krohiskap panstik, förväntis.  </h3>
                <p>
                    Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt. 
                </p>
                <a href="#">Read More</a>
            </div>
        </section>
        <section class="sep">
            <h2>Recent Posts</h2>
        </section>

        
    </main>
</body>
</html>